.site-content{
    max-width: 1140px;
    margin: 0 auto;
}
.wrapper{
    margin-bottom: 100px;
}
.clearfix{
    clear: both;
}
.block-title-wrapper{
    text-align: center;
}
.block-title-wrapper h4{
    color: #D4B799;
}
.space{
    width: 120px;
    height: 2px;
    background-color: #C7A17A;
    margin: 25px auto 50px;
}
.left{
    float: left;
    width: 35%;
    height: 100%;
}
.center{
    float: left;
    width: 30%;
}
.center img{
    width: 100%;
}
.right{
    float: left;
    width: 35%;
    height: 100%;
}
.menu-item{
    text-align: right;
}
.menu-item.img-left{
    text-align: left;
    float: left;
}
.menu-item img{
    float: right;
    width: 63px;
    height: auto;
}
.menu-item div{
    float: right;
    width: calc(100% - 63px - 20px);
    padding-right: 20px;
}
.menu-item div h3{
    padding: 0;
    margin: 0 0 5px 0;
}
.menu-item div p{
    margin: 7px 0 44px;
}
.menu-item.img-left img{
    float: left;
}
.menu-item.img-left div{
    float: left;
    padding: 0 0 0 20px;
}
.wrapper1 img{
    width: 100%;
    height: auto;
    display: block;
}
.col1{
    float: left;
    width: calc(50% - 20px);
    height: 536px;
    overflow: hidden;
    padding-right: 30px;
}
.col2{
    float: left;
    width: calc(25% - 20px);
    height: 536px;
    overflow: hidden;
    padding-right: 30px;
}
.col3{
    float: left;
    width: calc(25% - 20px);
    height: 536px;
    overflow: hidden;
}
.col3 div{
    padding-bottom: 30px;
}