* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    float: left;
    width: 100%;
}
#site-logo>img{
    padding-top: 7px;
    max-width: 300px;
    background-position: center;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #fafafa;
    width: 100%;
}
#site-nav>ul{
    display: flex;
    list-style: none;
    margin-right: 10px;
}
#site-nav>ul>li{
    margin-right: 20px;
    font-size: 15px;
    font-weight: 700;
}
#site-nav>ul>li>a{
    text-decoration: none;
    color: #333;
}
#site-nav>ul>li>a:hover{
    color:rgb(81 199 160);
}

.section {
    float: left;
    width: 100%;
}
.container {
     float: left;
     width: 100%;
    margin-top: 40px;
}
.nivoSlider{
    float: left;
    width: 100%;
}
.nivoSlider img{
    max-width: 618px;
    max-height: 800px;
}
h1{
    text-align: center;
    width: 800px;
    margin:  10px 300px 10px 300px;
    text-transform: uppercase;
}
.box {
    box-sizing: border-box;
    float: left;
    width: 100%;
}
hr{
    color: firebrick;
    border-top:  1px solid saddlebrown;
    width: 100%;
    padding-bottom: 5px;
}

#myteam{
    margin-top: 80px;
    padding:0 15px;
    height:400px;
    text-align:center;
    background:rgb(81 199 160);
    display: flex;
    flex-direction: column;
}
.personne{
    display:inline-block;
    position:relative;
    width:200px;
    margin:0 20px;
    cursor:pointer;
    vertical-align:top;
}
.personne > div{
    width:100%;
    height:200px;
    text-align:center;
    border-radius:50%;
    border: 14px solid rgb(81 199 160);
    box-shadow: 2px 2px 2px rgba(0,0,0, 0.18);
    overflow:hidden;
    box-sizing:border-box;
}
.personne img{
    height:130%;
    margin:-31px -30%;
    filter: grayscale(100%);
    transition: all 0.5s ease;
}
.personne > span {
    padding: 6px 20px 6px 40px;
    background:rgb(81 199 160);
    z-index:1;
    position:absolute;
    top:140px;
    left:0px;
    color:#FFF;
    font-weight:400;
    font-size:14px;
    border-radius: 0 13px 13px 0;
    transition: all 0.5s ease-in;
}
.personne .icon{
    width: 100px;
    height: 100px;
    padding-top: 20px;
    margin-left: 50px;
}
.personne .icon i{
    color: whitesmoke;
}
.personne:hover > span{
    padding-left:45px;
    display:none
}
.personne:hover img{
    filter: none;
}
.personne:hover > div {
    border: 14px solid rgb(81 199 160);
}
.personne h6  {
    text-align:left;
    margin-top: 15px;
    color:#FFF;
    font-size:10px;
    padding-left:45px;
}
.personne h6 span {
    display:block;
    font-size:23px;
    margin-left:50px
}
#myteam>h1{
    color: #fafafa;
}
